p {
    border: double black;
    background-color: darkslateblue
}

body {
    background-color:darkslateblue;
    text-align: center
}

h1 {
    color:springgreen;
    background-color: slateblue;
    text-align:center
}

u h2 {
    color:springgreen;
    background-color: slateblue;
    text-align:center
}
