p{
 border:double black;
 background-color:mint green
 }
body {
    background-color:rosybrown;
    text-align:center

}
h1 {
    color:mint green; 
    background-color:rosybrown;
    text-align:center
}

u h2 {
       color:forestgreen;
    background-color:orange;
    text-align:center
        }
