body {
    background-color:sandybrown;
    text-align: left
}

h1 {
    color:springgreen;
    background-color: slateblue;
    text-align:center
}

u h2 {
    color:springgreen;
    background-color: slateblue;
    text-align:center
}

button{

    display: grid;
    justify-content: center;
     padding: 8px 14px 4px 8px;
     font-size:larger;
     background-color:sandybrown;
         color:forestgreen;
}

